apipkg==1.5
atomicwrites==1.1.5
attrs==18.1.0
execnet==1.5.0
greenlet==0.4.14
more-itertools==4.2.0
pluggy==0.7.1
psutil==5.4.6
py==1.5.4
pytest==3.6.4
pytest-forked==0.2
pytest-parallel==0.0.2
pytest-testconfig==0.1.0
six==1.11.0
